.cadAdministrador-bg {
  --background: linear-gradient(135deg, #2980f2 0%, #4f8cff 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cadAdministrador-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cadAdministrador-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.10);
  padding: 40px 32px 24px 32px;
  min-width: 480px; // aumente aqui
  max-width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadAdministrador-title {
  font-size: 2.0rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  color: black;
  text-align: center;
}

.cadAdministrador-subtitle {
  color: #6c757d;
  margin-bottom: 1.5em;
  font-size: 1.1rem;
  text-align: center;
}


ion-item {
  --background: transparent;
  margin-bottom: 12px;
  --min-height: 56px;
  --padding-start: 0;
  --padding-end: 0;
}

ion-input {
  font-size: 1.55rem;
  min-height: 44px;
  --padding-start: 12px;
  --padding-end: 12px;
  color: #111;
}

ion-button {
  margin-top: 35px;
  margin-bottom: 12px;
  --border-radius: 10px;
  color: #fff;
}

.cadAdministrador-links {
  text-align: center;
  margin-top: 10px;
  font-size: 0.98rem;
}


.cadAdministrador-links a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  margin: 8px 0 0 0;
}

.cadAdministrador-links a:hover {
  text-decoration: underline;
}

ion-label {
  color: #111 !important;
}

/* ícones nos campos */
ion-icon[slot="start"] {
  font-size: 1.5rem;
  color: #000000; /* vermelho suave */
  margin-right: 8px;
}

/* centralizar o ícone dentro do item */
ion-item ion-icon[slot="start"] {
  align-self: center;
}

.login-links {
  text-align: center;
}

.cadAdministrador-links p {
  color: #6c757d;
}

.login-links p {
  color: #6c757d;
}

